.layout {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto 100px;
  grid-template-areas:
    'board players'
    'metrics metrics';
  width: 100vw;
  height: 100vh;
  background-color: var(--black-90);
}

.layout__board {
  grid-area: board;
  border-right: 1px solid var(--white-10);
  display: grid;
}

.layout__players {
  grid-area: players;
  display: grid;
}

.layout__metrics {
  border-top: 1px solid var(--white-10);
  grid-area: metrics;
  display: grid;
}
