.status {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  height: 100%;
  color: var(--white);
}

.status__cell {
  margin: 10px 0;
  border: 1px dashed var(--white-10);
  display: grid;
  grid-template-rows: min-content auto;
}

.status__cell:first-child {
  margin-left: 10px;
}

.status__cell:last-child {
  margin-right: 10px;
}
.status__cell__key {
  color: var(--white-30);
  text-align: center;
  padding: 10px 10px 0 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.status__cell__value {
  display: flex;
  color: var(--white-60);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
