html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --black: rgba(0, 0, 0, 1);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-90: rgba(0, 0, 0, 0.9);
  --white: rgba(255, 255, 255, 1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --space: 10px;
  --red: rgba(255, 0, 0, 1);
}

form {
  width: '100%';
}

fieldset {
  border: 0px;
  padding: 0;
}

fieldset + fieldset {
  margin-top: 20;
}

label {
  color: var(--white);
  padding: 10px 0px;
  display: block;
}

input,
button {
  display: block;
  width: 100%;
  padding: 5px;
  border: 0px;
  font-size: 16px;
  border-radius: 3px;
}

input[type='button'],
button {
  cursor: pointer;
}

.text.error {
  color: var(--red);
}
